@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="lobsterFont" class="display-4">Welcome! You make a difference!</h1>

    <img src="https://images.pexels.com/photos/1187317/pexels-photo-1187317.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" style="width:100%; height:auto;">

</div>
