@page
@model Shop.Web.Pages.ReceiptModel
@{
}

<div>
    <h1>Accent Coffee</h1>
    @{
        var date = DateTime.Now;
     }
        <p>Date: @date</p>
    <p>receipt number</p>
    <div>
        <p>product name</p>
        <p>amount x price</p>
    </div>
        <hr />
    <p>...but coffee first!</p>
        <hr />
    <div>
        <h2>Subtotal: </h2>
        <p>value</p>
        <h2>Discount:</h2>
        <p>value</p>
        <h2>Total: </h2>
        <p>value</p>
        <h2>Paid:</h2>
        <p>value</p>
        <h2>Change due:</h2>
        <p>value</p>
    </div>
</div>

