@page
@model Shop.Web.Pages.ItemsMenu.ManagerModel

@{
    ViewData["Title"] = "Items Manager";
}

<h1 id="lobsterFont">Items Manager</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<hr />
<table class="table">

    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

