@page
@model Shop.Web.Pages.ItemsMenu.ReportsModel

@{
    ViewData["Title"] = "Product Menu";
}

<div>
    <h1 id="lobsterFont">Reports Page</h1>
</div>

<form>
    <p>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

